{% for buffBPS in buffsBPS %}
	<div id="{{buffBPS.name}}Div" class="unavailable">
		<div class="buttonGroup tooltip">
			<button id="{{buffBPS.name}}Button" class="buffButton greyedBuff" onclick="buyBuff('BPS', '{{buffBPS.name}}', 'tier{{buffBPS.modifies}}'); animateCSS('#{{buffBPS.name}}Button', 'pulse');">
				<div class="buttonPic">
					<img src="assets/images/{{buffBPS.img}}" width="50px"/>
				</div>
				<div class="buttonText">
					<p class="textTitle">{{buffBPS.display_name}}</p>
					<p class="buttonSubtext">bps /
						{{buffBPS.modifies_name}}
						x
						<span id="{{buffBPS.name}}Multiplier">{{buffBPS.multiplier}}</span>
					</p>
					<p class="buttonSubtext">
						<img src="assets/images/banane.png" width="20px"/>
						<strong>
							<span id="{{buffBPS.name}}Price">
								{{buffBPS.price}}
							</span>
						</strong>
						<div style="position: relative;">
							<span class="ownedNumberOnButton" id="{{buffBPS.name}}OwnedC">0</span>
						</div>
					</p>
					<p style="display:none" id="{{buffBPS.name}}PriceMultiplier">{{buffBPS.price_multiplier}}</p>
					<p style="display:none" id="{{buffBPS.name}}Type">{{buffBPS.type}}</p>
				</div>
			</button>

			<wow-tooltip class="tooltip">
				<div class="tooltip-dropdown-buffs" data-tooltip-dropdown>
					<div role="tooltip" class="tooltip-dropdown__content">
						<p>
							<strong>{{buffBPS.description}}</strong>
						</p>
						<br>
						<p>Acquis :
							<strong>
								<span id="{{buffBPS.name}}OwnedB">0</span>
							</strong>
						</p>
					</div>
				</div>
			</wow-tooltip>

			<div class="stats">
				<p>Acquis :
					<span id="{{buffBPS.name}}Owned">0</span>
				</p>
			</div>
		</div>
	</div>
{% endfor %}
