<div class="mainButtonsContainer animate__animated animate__slideInLeft">
	<div class="buttonsContainer">
		<h1>Magasin</h1>
		<div class="tiers">

			<div id="nothingTiers">
				<p>
					Cliquez sur la banane.
				</p>
			</div>

			<div id="buyableTiers" class="unavailable">
				{% for clicker in clickers %}
					<div class="buttonGroup tooltip">
						<button id="{{clicker.name}}Button10" class="buy10Button greyed" onclick="buyTier10('{{clicker.name}}'); animateCSS('#{{clicker.name}}Button10', 'pulse');">
							<p>x 10</p>
							<p class="displayPrice10">
								<img src="assets/images/banane.png" width="15px" height="15px"/>
								<span id="{{clicker.name}}Price10"></span>
							</p>
						</button>
						<button id="{{clicker.name}}Button" class="buyButton greyed" onclick="buyTier('{{clicker.name}}'); animateCSS('#{{clicker.name}}Button', 'pulse');">
							<div class="buttonPic">
								<img src="assets/images/{{clicker.img}}" width="50px"/>
							</div>
							<div class="buttonText">
								<p class="textTitle">Acheter
									{{clicker.article}}
									<strong>{{clicker.display_name}}</strong>
								</p>
								<p class="buttonSubtext">+<span id="{{clicker.name}}Multiplier">{{clicker.multiplier}}</span>
									bps</p>
								<p class="buttonSubtext">
									<img src="assets/images/banane.png" width="20px"/>
									<strong>
										<span id="{{clicker.name}}Price">
											{{clicker.price}}
										</span>
									</strong>
									<div style="position: relative;">
										<span class="ownedNumberOnButton" id="{{clicker.name}}OwnedC">0</span>
									</div>
								</p>
								<p style="display:none" id="{{clicker.name}}PriceMultiplier">{{clicker.price_multiplier}}</p>
							</div>
						</button>

						<wow-tooltip class="tooltip">
							<div class="tooltip-dropdown" data-tooltip-dropdown>
								<div role="tooltip" id="tooltip-demo-content" class="tooltip-dropdown__content">
									<p>
										<strong>{{clicker.description}}</strong>
									</p>
									<p id="enoughClickers" class="unavailable">Plus de place pour les afficher mais promis, ils y sont&nbsp;!!</p>
									<br>
									<p>Chaque
										{{clicker.display_name}}
										produit
										<b>{{clicker.multiplier}}</b>
										{% if clicker.multiplier > 1 %}
											bananes par seconde</p>
									{% endif %}
									{% if clicker.multiplier == 1 %}
										banane par seconde</p>
								{% endif %}
								<br>
								<p>Acquis :
									<strong>
										<span id="{{clicker.name}}OwnedB">0</span>
									</strong>
								</p>
								<p>Production :
									<strong>
										<span id="{{clicker.name}}ProdB">0</span>
									</strong>
									bps</p>
							</div>
						</div>
					</wow-tooltip>

					<div class="stats">
						<p>Acquis :
							<span id="{{clicker.name}}Owned">0</span>
						</p>
						<p>Production :
							<span id="{{clicker.name}}Prod">0</span>
							bps</p>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
</div></div>
